<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {%csrf_token %}
        <label>地點</label>
        <input id="itemPlace"type="text">
        </input><br>
        <label>分類</label>
        <label>大項</label>
        <input id="itemTypeLevel1"type="text"></input>
        <label>細項</label>
        <input id="itemTypeLevel2"type="text">
        </input><br>
        <label>時間開始</label>
        <input id="startDatetime"type="datetime-local">
        </input>
        <label>時間結束</label>
        <input id="endDatetime" type="datetime-local">
        </input><br>
        <button id="fbutton">Filter</button>
        <content></content>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

        </script>
        <script>
            $(document).ready(function(){
                const csrf=$("input[name=csrfmiddlewaretoken]").val();
                console.log(csrf)
                $("#fbutton").click(function(){


                    $.ajax({
                        url:"http://127.0.0.1:8000/api/main/",
                        type:'post',
                        data:{
                            itemPlace:$('#itemPlace').val(),
                            itemTypeLevel1:$('#itemTypeLevel1').val(),
                            itemTypeLevel2:$('#itemTypeLevel2').val(),
                            startDatetime:$('#startDatetime').val(),
                            endDatetime:$('#endDatetime').val(),

                            csrfmiddlewaretoken:csrf
                        },
                        success:function(response){
                            $("content").empty()
                            for (let i = 0; i<response.length;i++){

                                $("content").append(

                                    '<br><text>'+response[i].itemPlace+'</text>',
                                    '<br><img src=\"'+response[i].img+"\" alt='img'></img>"
                                )}

                        }
                    })})
                });

        </script>
    </body>

</html>