html,
body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}