html,
body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

.leaflet-container.default-cursor-enabled {
  cursor: default;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  /* border-radius: 5px; */
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  padding-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  padding-left: 5px solid var(--color-brand--1);
}

/* chatroom */
.message-from-other {
	padding-left: 25px;
	text-align: left;
}

.message-from-me {
	padding-right: 25px;
	text-align: right;
}

.message-from-other span {
	display: inline-block;
	border-top-left-radius: 1.3em;
	border-top-right-radius: 1.3em;
	border-bottom-left-radius: 1.3em;
	border-bottom-right-radius: 1.3em;
	border: 1px solid rgba(0, 0, 0, .10);
	padding: 0 15px;
	color: black;
	background-color: rgba(255, 255, 255, .10);
}

.message-from-me span {
	display: inline-block;
	border-top-left-radius: 1.3em;
	border-top-right-radius: 1.3em;
	border-bottom-left-radius: 1.3em;
	border-bottom-right-radius: 1.3em;
	padding: 0 15px;
	color: white;
	background-color: #0084ff;
}

.new-message {
	width: 100%;
	height: 100%;
}